table {
    width: 500px;
    background-color: aliceblue;
    border-collapse: collapse;
    position: relative;

}

caption {
    background-color: rgba(96, 97, 99, 0.678);
    color: black;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 3px 3px 0px 0px;

}
thead tr th {
    position: sticky;
    top: -1px;
    background-color: black;
}
td, th {
    border: 1px solid black;
    padding: 20px;
    
}
th {
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgba(133, 131, 131, 0.507);
}
