section.container {
    background-color: rgb(57, 101, 184);
    height: 280px;
    width: 250px;
    position: relative;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.226);
    border-radius: 5px;
}

.conteudo {
    background-color: aquamarine;
    height: 280px;
    width: 250px;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    padding: 0 20px;
    position: absolute;
    left: 50px;
    top: 30px;
}

.conteudo h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.conteudo p {
    text-align: justify;
    line-height: 1.5em;
    
}