*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./imagens/fundo-madeira.jpg) top center fixed;
    background-size: cover;
}

#phone {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}