*{
    margin: 0;
    padding: 0;
}

/**Configurações Gerais (All)**/
body {
    width: 100%;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}


/**Configurações Portrait**/
@media screen and (orientation: portrait){
    body {
        background-image: url(./images/cev-portrait.jpg);
        background-position: center bottom;
    }
}


/**Configurações Landscape**/
@media  screen and (orientation:landscape) {
    body {
        background-image: url(./images/cev-landscape.jpg);
        background-position: left bottom;
    }
}